@import '../fonts';
@import '../colour';

html {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;

	body {
		&#homepage {
			overflow-x: hidden;
			margin: 0;
			padding: 0;
			background-color: $light;
	
			@import '../header/homepage';
	
			main {
				width: 90vw;
				padding: 5vh 5vw;
				margin-top: 70vh;
				transition: margin 1s ease;
				&.scroll-mobile {
					margin-top: 30vh;
				}
			}
		}
		&#page {
			overflow-x: hidden;
			margin: 0;
			padding: 0;
	
			@import '../header/page';

			main {
				width: 90vw;
				padding: 5vh 5vw;
				@import '../post/post';
				@import '../about/about';
				@import '../404/404';
			}
		}
	}
	@import '../footer/style';
}

.searchform, .wp-block-search {
	#s, .wp-block-search__input-1 {
		background-color: transparent;
		outline: none;
		border-radius: 10px;
		border-color: $accent_2;
		color: $accent_2;
		&:hover, &:active, &:focus {
			border-color: $accent_2_hover;
			color: $accent_2_hover;
		}
	}
	#searchsubmit {
		color: $dark;
		background-color: $accent_1;
		border-radius: 5px;
		border-style: none;
		margin: 1vh 1vw;
		padding: 1vh 1vw;
		transition: background-color 0.3s ease;
		text-decoration: none;
	}
}

.widget {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (min-width: 768px) {
	#content {
		max-width: 50vw;
		margin: 10px auto;
	}
}
