@import '../colour';

#about {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	.founder {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-style: solid;
		border-radius: 10px;
		border-width: 1px;
		border-color: rgba($secondary, 0.5);
		padding: 10px;
		margin: 10px;
		figure {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			img {
				width: 70%;
			}
			figcaption {
				color: grey;
				font-size: 15px;
			}
		}
	}
}
