@import '../colour';

#about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.founder {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		img {
			width: 70%;
		}
		figcaption {
			color: grey;
		}
	}
}
