$primary: #f48222;	//Princeton Orange
$secondary: #2d5399;	//Y in mn blue
$accent_1: #f6d222;	//Yellow Munsell
$accent_1_hover: #600c64;	//Midnight
$accent_2: #14b62c;	//Yellow Green Colour Wheel
$accent_2_hover: #c53d13;	//Sinopia
$light: #fef4ec;	//Seashell
$dark: #130901;		//Smoky Black
